[submodule "extlibs/harfbuzz"]
	path = extlibs/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "extlibs/freetype"]
	path = extlibs/freetype
	url = https://github.com/freetype/FreeType
[submodule "extlibs/xxHash"]
	path = extlibs/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "extlibs/openal-soft"]
	path = extlibs/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "extlibs/glfw"]
	path = extlibs/glfw
	url = https://github.com/glfw/glfw
[submodule "extlibs/shaderc"]
	path = extlibs/shaderc
	url = https://github.com/google/shaderc
[submodule "extlibs/glslang"]
	path = extlibs/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "extlibs/meshoptimizer"]
	path = extlibs/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "extlibs/yoga"]
	path = extlibs/yoga
	url = https://github.com/facebook/yoga
[submodule "extlibs/spirv-headers"]
	path = extlibs/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "extlibs/spirv-tools"]
	path = extlibs/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "extlibs/googletest"]
	path = extlibs/googletest
	url = https://github.com/google/googletest
[submodule "extlibs/MoltenVK"]
	path = extlibs/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK
